@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--body-bg: hsl(217, 54%, 11%);
--card-bg: hsl(216, 50%, 16%);
--line-clr: hsl(215, 32%, 27%);
--fw-medium: 400;
--fw-bold: 600;
}

body {
    background-color: var(--body-bg);
    font-family: 'Outfit', sans-serif;
    color: var(--soft-blue);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--card-bg);
    max-width: 20em;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 100%;
}

h3 {
    color: white;
    font-weight: var(--fw-bold);
}

time {
    font-weight: var(--fw-medium);
}

hr {
    border: 1px solid var(--line-clr);
}