@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--body-bg: hsl(217, 54%, 11%);
--card-bg: hsl(216, 50%, 16%);
--line-clr: hsl(215, 32%, 27%);
--fw-medium: 400;
--fw-bold: 600;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    font-family: 'Outfit', sans-serif;
    color: var(--soft-blue);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 1em;
}

main {
    background-color: var(--card-bg);
    max-width: 22em;
    border-radius: 1em;
    padding: 1.5em;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 1px solid var(--line-clr);
}

/* Images */
main > img {
    margin-inline-end: 0;
    border-radius: .5em;
}

img {
    max-width: 100%;
    vertical-align: middle;
    margin-inline-end: .25em;
}

.avatar {
    border: 1px solid white;
    border-radius: 50%;
    margin-inline-end: 1em;
    height: 2em;
}

/* Typography */
a {
    color: white;
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--cyan);
}

main p {
    font-size: 1.1rem;
    line-height: 1.5em;
}
section p {
    margin: 0;
    color: var(--cyan);
    font-weight: var(--fw-bold);
}

h3 {
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
}

time {
    font-weight: var(--fw-medium);
}
